{% extends "::base.html.twig" %}

{% block title %}Review your characters !{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">


        {% for ent in characters %}

            {% if ent.id is sameas(user.currentCharacter) %}
            <div class="col panel panel-primary">
            {% else %}
            <div class="col panel panel-default">
            {% endif %}
                <div class="panel-heading">{{ ent.name }}</div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="panel panel-info">
                            <div class="panel-heading">Informations</div>

                                <div class="panel-body">
                                    <span><u>Gender</u> : {{ ent.gender }}</span>,  <span><u>Race</u> : {{ ent.race }}</span>
                                </div>
                                <div class="panel-body">
                                    <u>Class</u> : {{ ent.class }}
                                </div>
                                <div class="panel-body">
                                    <span><u>Attack</u> : {{ ent.attack }}</span>,  <span> <u>Defense</u> : {{ ent.defense }}</span>
                                </div>
                                <div class="panel-body">
                                    <u>Current Life</u> : {{ ent.life }} hp
                                </div>
                                <div class="panel-body">
                                    <u>Rooms Completed</u> : {{ ent.roomsCompleted }}
                                </div>

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="panel panel-success">
                            <div class="panel-heading"><a href="/inventory/{{ ent.id }}">Inventory</a></div>

                            {% for belong in belongings %}
                                {% if belong.character.id == ent.id %}
                                    {% for obj in objects %}
                                        {% if belong.object.id is sameas(obj.id) %}
                                            <div class="panel-body">
                                                <u>Object</u> : {{ obj.name }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                 </div>
                <div class="panel-body">
                    <a href="/deleteChar/{{ent.id}}" class="btn btn-danger"> Delete a character </a>
                    <a href="/chooseChar/{{ent.id}}" class="btn btn-success"> Select a character as primary </a>
                    <a href="/resetChar/{{ent.id}}" class="btn btn-primary"> Reset the character </a>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

    <button type="button" id="createChar" class="btn btn-lg btn-primary">Create a character</button>

    <script type="text/javascript">
        document.getElementById("createChar").onclick = function () {
            location.href = "/createCharacter";
        };
    </script>

{% endblock %}

