{% extends "::base.html.twig" %}

{% block title %}See your messages !{% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        {% for ent in messages %}

            <div class="col panel panel-default">

                <h3>{{ ent.subject }}</h3>

                <div> From : <a href="/sendMessage/{{ent.sender.id}}" class="">{{ ent.sender.username }}</a> on the : {{ ent.date|date('Y-m-d H:i:s') }}</div>
                <div class="panel-body">
                    Content : {{ ent.content }}
                </div>


            </div>

            {% endfor %}


    </div>

</div>


    <a href="/messagesSent" class="btn btn-primary"> See the messages you sent </a>

{% endblock %}