{% extends "::base.html.twig" %}

{% block title %}See your messages sent!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            {% for ent in messages %}

                <div class="col panel panel-default">

                    <div class="panel-heading">{{ ent.subject }} {{ ent.receiver.username }} <div class="text-right">
                            To : <a href="/sendMessage/{{ent.receiver.id}}">{{ ent.receiver.username }}</a> on the : {{ ent.date|date('Y-m-d H:i:s') }}</div> </div>

                    <div class="panel-body">
                        {{ ent.content }}
                    </div>


                </div>

            {% endfor %}


        </div>

    </div>
    <a href="/messagesReceived" class="btn btn-primary"> See the messages you received </a>


{% endblock %}