
{% extends "::base.html.twig" %}

{% block title %}Play the game !{% endblock %}

{% block body %}

    <div class="row">
        <div id="InformationsPerso" class="col panel panel-default" style="border: solid">
            <div class="row">

                <div class="col-lg-5 col-md-5 col-sm-5">

                    <div class="text-center"> Your character is  {{ charac.name }} and {% if charac.gender is sameas('Female') %} she {% else %} he {% endif %} has : {{ charac.life }} hp</div>
                    <div class="panel-body text-center">
                        <span><u>Attack</u> : {{ charac.attack }}</span>
                    </div>
                    <div class="panel-body text-center">
                        <span><u>Defense</u> : {{ charac.defense }}</span>
                    </div>
                    <div class="panel-body text-center">
                        <span><u>Fights Won</u> : {{ charac.roomscompleted  }}</span>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="text-center">The name of your enemy is <span class="enemy">{{ enemy.name }}

                            <div class="enemyDescription" style="border: solid">{{ enemy.description }}</div>
                        </span> and it has : {{ enemy.life }} hp</div>
                    <div class="panel-body text-center">
                        <span><u>Attack</u> : {{ enemy.attack }}</span>
                    </div>
                    <div class="panel-body text-center">
                        <span><u>Defense</u> : {{ enemy.defense }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div  style="border: solid" id="options" class="col panel panel-default text-center">

            <div> Your actions :</div>

            <span><a class="btn" href="/fight/{{ enemy.id }}" id="fight">Fight (10 Stamina) </a></span>
            <span><a class="btn" href="/run" id="run">Run (20 Stamina) </a></span>
            <span><a class="btn" href="/inventory/{{ charac.id }}" id="inventory">Inventory</a></span>
        </div>
    </div>


    <div class="row">
        <div  style="border: solid" id="options" class="col panel panel-default text-center">
            <div class="panel-heading">Log Fighting</div>
            {% for l in log %}
            <div class="panel-body">
                {{ l }}
            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
