{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Begindate</th>
                <td>{% if event.begindate %}{{ event.begindate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if event.enddate %}{{ event.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Monster</th>
                <td>{{ event.monster }}</td>
            </tr>
            <tr>
                <th>Object</th>
                <td>{{ event.object }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('events_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
